<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="zebra_zero_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <plugin>mock_components/GenericSystem</plugin>
            </hardware>
            <joint name="first_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['first_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="second_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['second_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="third_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['third_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="fourth_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['fourth_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="fifth_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['fifth_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="sixth_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['sixth_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
